{# This template renders exactly the same as pagelayout.html, except... #}
{% extends noLayout ? viewbaseLayout : "BlendTutorialBlogBundle::pagelayout.html.twig" %}
{# ...for the content block, which is replaced by the code here. #}
{% block content %}
    <article class="blog">
    	{# The location variable contains the Location/placement information (node) #}
	    <h1 class="page-title">{{ location.contentInfo.name }}</h1>
	    {# The content variable is the content object itself #}
	    {# ez_render_field is a convencience method which will correctly format the data type #}
        {{ ez_render_field( content, "description" ) }}
    </article>
{% endblock %}